.framebody {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-family: "Chicken Quiche";
}
.introductionframe {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  gap: 20px;
  min-width: 300px;
}

.introductionframe:hover {
  padding: 5px 5px 5px 20px;
  color: #e2bba8;
}
.introductionframeChild {
  height: 36px;
  width: 36px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  background-color: #000;
  border: 3px solid #d9d9d9;
  box-sizing: border-box;
  transform: rotate(-45deg);
}
.introductionframe:hover .introductionframeChild {
  background-color: #e2bba8;
  border: 3px solid #000;
}

.introduction {
  flex: 1;
  position: relative;
  line-height: 30px;
  text-shadow: 3px 0 0 #d9d9d9, 0 3px 0 #d9d9d9, -3px 0 0 #d9d9d9,
    0 -3px 0 #d9d9d9;
}
